[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "rasppi"
url = "https://pypi.bmckinley.dev/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
rope = "*"

[packages]
sqlalchemy = "*"
billboard-connector = "*"
billboard-models = "*"

[requires]
python_version = "3.9"
