[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "bmckinley"
url = "https://pypi.bmckinley.dev/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
rope = "*"

[packages]
sqlalchemy = "*"
billboard-models = {version="*", index="bmckinley"}
billboard-connector = {version="*", index="bmckinley"}

[requires]
python_version = "3.9"
